// COLORS

$color-background-1: #080B1A;
$color-background-2: #223072;

$color-primary: #FECB44;
$color-secondary: #729AD1;

$color-text: #FFFFFF;

$color-card-1: #0F7AE8;
$color-card-2: #5662B8;

$color-orange-bar-1: #FE7044;
$color-orange-bar-2: #A1533A;

$color-green-bar-1: #3B9A4E;
$color-green-bar-2: #31673B;

$color-common: #FEDAA0;

$color-rare: #F78748;
$color-rare-light: #F77F60;

$color-ultra-rare: #C3F0DB;